.dub
docs.json
__dummy.html
docs/
/d-demo
d-demo.so
d-demo.dylib
d-demo.dll
d-demo.a
d-demo.lib
d-demo-test-*
*.exe
*.o
*.obj
*.lst
*.s
main
integ_test

target
upload

zig-linkers/
zig-targets.txt
*-help.txt